@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "dseg7";
  src: url("../public/fonts/DSEG7Modern-Regular.ttf");
}

@font-face {
  font-family: "fira-code";
  src: url("../public/fonts/FiraCode-Regular.ttf");
}




